# CAO Points

## Introduction

The CAO points data, available from the [CAO website](http://www.cao.ie), is published in a different format for each of the years 2019, 2020, and 2021. Each year's data, therefore, requires a different approach to acquisition, conversion to pandas DataFrame, and cleaning. The 2019 data is published in two PDF files; one for level 8 courses, and one for levels 6 and 7. The 2020 data is published as an Excel spreadsheet, and the 2021 data as preformatted text in a HTML web page.

The attributes of interest for comparison between the various years' datasets are `Course Code`, `Course Name`, `Institution Name`, `EOS`, which is the number of points achieved by the last applicant to be offered a place on the course, and `Mid`, which is the mid point between the number of points held by the highest point score and the lowest point score of the applicants offered a place on the course [1]. The 2021 data does not explicitly contain an either an `EOS` or a `Mid` column. It does provide the *Round 1* and *Round 2* points required for entry into each course as `RND1` and `RND2`. Examination of the 2020 data, which contains both an `EOS` field *and* `RND1` and `RND2` fields demonstrates that the `EOS` field is equal to the `RND2` value if it exists, otherwise the `RND1` value (```EOS = RND1 if RND1 else RND2```). As for the `Mid` field; this information does not appear to be available yet for the 2021 data.

In [2]:
# Imports
# Data analysis library
import pandas as pd
# Plotting library
import matplotlib.pyplot as plt
# PDF table parsing
from tabula import read_pdf
# Retrieval of resources from WWW
import requests
# URL construction
from requests.compat import urljoin
# Various utilities, mainly path construction
import os
# Creation of datetime strings for filenames
from datetime import datetime
# Regular expressions
import re
import numpy as np
import hashlib

## Acquiring the data

In [4]:
# Location of CAO points data
base_url = 'http://www2.cao.ie/points/'
# Local data directory
data_dir = 'data/cao'
backup_dir = 'data/cao/backup'

# Dictionary of source file names mapped to the file names that will be used locally
points_urls  = ({'l8.php'                  : 'cao_2021_lvl8.html',
                 'l76.php'                 : 'cao_2021_lvl76.html',
                 'CAOPointsCharts2020.xlsx': 'cao_2020_lvl876.xlsx'
                 })

# The rest of points_urls can be assembled programmatically
# as filenames follow a pattern

# List of years as 2-digit strings from 2019 to 2005
years = [str(i).zfill(2) for i in range(19, 4, -1)]
# For each year (2019 to 2005)
for year in years:
    levels = ('lvl8', 'lvl76')
    # For each level 
    for level in levels:
        # construct remote filename
        remote_name = level + '_' + year + '.pdf'
        # construct local filename
        local_name = 'cao_20' + year + '_' + level + '.pdf'
        # Add remote and local filenames as keys and values in points_urls dict
        points_urls[remote_name] = local_name

In [10]:

# for each of the source files 
for url in (points_urls):
    # construct url and fetch content
    response = requests.get(urljoin(base_url, url))
    
    try:
        # attempt to open any previously downloaded local file
        with open(os.path.join(data_dir, points_urls[url]), "rb") as f:
            # Calculate md5 hashes for the local file and the remote file
            md5_local = hashlib.md5(f.read()).hexdigest()
            md5_response = hashlib.md5(response.content).hexdigest()

            # Set write_flag to False if the hashes are equal and True if they are not
            write_flag = (md5_local != md5_response)
    except IOError:
        # if the local file does not exist set the write_flag to True and move on
        write_flag = True

    # If the write_flag is True
    if write_flag:
        print(f"File: {points_urls[url]} has changed since last download. Updating...")
        # split the filename into name and extension
        fname, extension = os.path.splitext(points_urls[url])
        # construct unique filename by inserting datetime string between filename and extension
        filename = fname + datetime.now().strftime("_%Y%m%d_%H%M%S") + extension

        # write the timestamped remote file to the backup directory
        with open(os.path.join(backup_dir, filename), 'wb') as f:
            f.write(response.content)

        # also write the remote file to the data directory, overwriting any previous file
        with open(os.path.join(data_dir, points_urls[url]), 'wb') as f:
            f.write(response.content)
    else:
        print(f"File: {points_urls[url]} has not changed since last download. Skipping...")

File: cao_2021_lvl8.html has not changed since last download. Skipping...
File: cao_2021_lvl76.html has not changed since last download. Skipping...
File: cao_2020_lvl876.xlsx has not changed since last download. Skipping...
File: cao_2019_lvl8.pdf has not changed since last download. Skipping...
File: cao_2019_lvl76.pdf has not changed since last download. Skipping...
File: cao_2018_lvl8.pdf has not changed since last download. Skipping...
File: cao_2018_lvl76.pdf has not changed since last download. Skipping...
File: cao_2017_lvl8.pdf has not changed since last download. Skipping...
File: cao_2017_lvl76.pdf has not changed since last download. Skipping...
File: cao_2016_lvl8.pdf has not changed since last download. Skipping...
File: cao_2016_lvl76.pdf has not changed since last download. Skipping...
File: cao_2015_lvl8.pdf has not changed since last download. Skipping...
File: cao_2015_lvl76.pdf has not changed since last download. Skipping...
File: cao_2014_lvl8.pdf has not changed since last download. Skipping...
File: cao_2014_lvl76.pdf has not changed since last download. Skipping...
File: cao_2013_lvl8.pdf has not changed since last download. Skipping...
File: cao_2013_lvl76.pdf has not changed since last download. Skipping...
File: cao_2012_lvl8.pdf has not changed since last download. Skipping...
File: cao_2012_lvl76.pdf has not changed since last download. Skipping...
File: cao_2011_lvl8.pdf has not changed since last download. Skipping...
File: cao_2011_lvl76.pdf has not changed since last download. Skipping...
File: cao_2010_lvl8.pdf has not changed since last download. Skipping...
File: cao_2010_lvl76.pdf has not changed since last download. Skipping...
File: cao_2009_lvl8.pdf has not changed since last download. Skipping...
File: cao_2009_lvl76.pdf has not changed since last download. Skipping...
File: cao_2008_lvl8.pdf has not changed since last download. Skipping...
File: cao_2008_lvl76.pdf has not changed since last download. Skipping...
File: cao_2007_lvl8.pdf has not changed since last download. Skipping...
File: cao_2007_lvl76.pdf has not changed since last download. Skipping...
File: cao_2006_lvl8.pdf has not changed since last download. Skipping...
File: cao_2006_lvl76.pdf has not changed since last download. Skipping...
File: cao_2005_lvl8.pdf has not changed since last download. Skipping...
File: cao_2005_lvl76.pdf has not changed since last download. Skipping...

### 2021 Points Data

In [93]:
l8 = os.path.join(data_dir, 'cao_2021_lvl8.html')
l76 = os.path.join(data_dir, 'cao_2021_lvl76.html')

# Regular expression to capture fields from lines
# Lines consist of 2 letters and 3 numbers, comprising the course code; some whitespace; 
# 50 characters which start with a non-whitespace character; some more whitespace;
# some optional non whitespace characters comprising round 1 points; some more whitespace;
# and, optionally some more non-whitespace characters comprising round 2 points if present
re_fields = re.compile('^([A-Z]{2}[0-9]{3})\s+(\S.{49})\s+(\S+)?\s+(\S+)?')

# array to hold matched groups
data = []

for datafile, level in zip((l8, l76), (8, 76)):
    # encoding=cp1252 necessary to decode some characters on page
    with open(datafile, 'r', encoding='cp1252') as f:
        for line in f:
            match = re.match(re_fields, line)
            if match:
                fields = list(match.groups())
                fields.append(level)
                data.append(fields)

# column names
columns = ['Course Code', 'Course Name', 'Rnd1', 'Rnd2', 'Level']
df = pd.DataFrame.from_records(data, columns=columns)

Create new columns to hold information currently designated by *'s and #'s in numeric columns

Create new column indicating whether the course requires a test, interview or portfolio
This is indicated by a '#' in the Rnd1 or Rnd2 column
df['Test'] = df['Rnd1'].str.contains('#', na=False) | df['Rnd2'].str.contains('#', na=False)

Create a column indicating courses where not all applicants at Rnd1 point score were offered a place
This is indicated by a '*' in the Rnd1 or Rnd2 column
df['Not All'] = df['Rnd1'].str.contains('\*', na=False) | df['Rnd2'].str.contains('\*', na=False)

Create a new column for AQA meaning All Qualified Applicants were offered a place
df['AQA'] = df['Rnd1'].str.contains('AQA', na=False) | df['Rnd2'].str.contains('AQA', na=False)

Create a new column for 'New competition for available places' which seems to be courses 
for which the points have increased in round 2. Only occurs in level 76 and is indicated 
by a 'v' in 'Rnd2' column
df['New Comp'] = df['Rnd1'].str.contains('v', na=False) | df['Rnd2'].str.contains('v', na=False)

Generate 'EOS' column. == Rnd2 if it exists, otherwise Rnd1
df['EOS'] = np.where(df['Rnd2'].isnull(), df['Rnd1'], df['Rnd2'])

Remove Non-digits from Rnd1 and Rnd2 columns and convert columns to numeric values, 
with NaNs where values are missing (errors = 'coerce')
(Because NaN is a float, the whole columns must be floats)
df['Rnd1'] = pd.to_numeric(df['Rnd1'].str.replace('[^0-9]+', '', regex=True), errors='coerce')
df['Rnd2'] = pd.to_numeric(df['Rnd2'].str.replace('[^0-9]+', '', regex=True), errors='coerce')

In [94]:
newcols = {'Test': '#', 'Not All': '\*', 'AQA': 'AQA', 'New Comp': 'v'}

for k, v in newcols.items():
    df[k] = df['Rnd1'].str.contains(v, na=False) | df['Rnd2'].str.contains(v, na=False)

# Generate 'EOS' column. == Rnd2 if it exists, otherwise Rnd1
df['EOS'] = np.where(df['Rnd2'].isnull(), df['Rnd1'], df['Rnd2'])

# Remove Non-digits from Rnd1 and Rnd2 columns and convert columns to numeric values, 
# with NaNs where values are missing (errors = 'coerce')
# (Because NaN is a float, the whole columns must be floats)
df['EOS'] = pd.to_numeric(df['EOS'].str.replace('[^0-9]+', '', regex=True), errors='coerce')

df.head(20)

,Course Code,Course Name,Rnd1,Rnd2,Level,Test,Not All,AQA,New Comp,EOS
0,AL801,Software Design for Virtual Reality and Gaming...,300,None,8,False,False,False,False,300.0
1,AL802,Software Design in Artificial Intelligence for...,313,None,8,False,False,False,False,313.0
2,AL803,Software Design for Mobile Apps and Connected ...,350,None,8,False,False,False,False,350.0
3,AL805,Computer Engineering for Network Infrastructur...,321,None,8,False,False,False,False,321.0
4,AL810,Quantity Surveying ...,328,None,8,False,False,False,False,328.0
5,AL811,Civil Engineering ...,None,None,8,False,False,False,False,NaN
6,AL820,Mechanical and Polymer Engineering ...,327,None,8,False,False,False,False,327.0
7,AL830,General Nursing ...,451*,444,8,False,True,False,False,444.0
8,AL832,Mental Health Nursing ...,440*,431,8,False,True,False,False,431.0
9,AL835,Pharmacology ...,356,None,8,False,False,False,False,356.0
10,AL836,Nutrition and Health Science ...,346,None,8,False,False,False,False,346.0
11,AL837,Sports Science with Exercise Physiology ...,357,None,8,False,False,False,False,357.0
12,AL838,Biotechnology ...,324,None,8,False,False,False,False,324.0
13,AL839,Microbiology ...,325,None,8,False,False,False,False,325.0
14,AL840,Pharmaceutical Sciences ...,346,None,8,False,False,False,False,346.0
15,AL841,Athletic and Rehabilitation Therapy ...,477,476*,8,False,True,False,False,476.0
16,AL842,Bioveterinary Science ...,338,None,8,False,False,False,False,338.0
17,AL843,Physical Activity and Health Science ...,306,None,8,False,False,False,False,306.0
18,AL849,Culinary Entrepreneurship ...,297,None,8,False,False,False,False,297.0
19,AL850,Business ...,309,None,8,False,False,False,False,309.0

### 2020 Points Data

In [57]:
df2020 = pd.read_excel(os.path.join(data_dir, 'cao_2020_lvl876.xlsx'), 
                       header=10, 
                       usecols="B,C,H,I,J,L", 
                       names=['Course Name', 'Course Code', 'EOS', 'Not All', 'Mid', 'Institution Name'])

# Create new column indicating whether the course requires a test, interview or portfolio
# This is indicated by a '#' in the EOS column
df2020['Test'] = df2020['EOS'].str.contains('#', na=False)

# Create a column indicating courses where not all applicants at EOS point score were offered a place
# This is indicated by a '*' in the EOS column
df2020['Not All'] = df2020['Not All'].str.contains('\*', na=False)

# Create a column indicating courses where a matric is required
# This is indicated by the string '+matric' in the EOS column.
# However, the tabula table parsing has interpreted the r in matric as a cell boundary so only 'mat' 
# remains in the EOS column and 'ic' appears in the Mid column. The 'ic' will be dealt with next 
df2020['Matric'] = df2020['EOS'].str.contains('mat', na=False)

# Remove Non-digits from EOS and Mid columns and convert columns to numeric values, with NaNs where values are missing (errors = 'coerce')
# (Because NaN is a float, the whole columns must be floats)
# Note that EOS and Mid contain mixed dtypes and so must be converted to string before the replace operation
df2020['EOS'] = pd.to_numeric(df2020['EOS'].astype(str).str.replace('[^0-9]+', '', regex=True), errors='coerce')
df2020['Mid'] = pd.to_numeric(df2020['Mid'].astype(str).str.replace('[^0-9]+', '', regex=True), errors='coerce')

df2020.head(20)

,Course Name,Course Code,EOS,Not All,Mid,Institution Name,Test,Matric
0,International Business,AC120,209.0,False,280.0,American College,False,False
1,Liberal Arts,AC137,252.0,False,270.0,American College,False,False
2,"First Year Art & Design (Common Entry,portfolio)",AD101,NaN,False,NaN,National College of Art and Design,True,True
3,Graphic Design and Moving Image Design (portfo...,AD102,NaN,False,NaN,National College of Art and Design,True,True
4,Textile & Surface Design and Jewellery & Objec...,AD103,NaN,False,NaN,National College of Art and Design,True,True
5,Education & Design or Fine Art (Second Level T...,AD202,NaN,False,NaN,National College of Art and Design,True,True
6,Fine Art (portfolio),AD204,NaN,False,NaN,National College of Art and Design,True,True
7,Fashion Design (portfolio),AD211,NaN,False,NaN,National College of Art and Design,True,True
8,Product Design (portfolio),AD212,NaN,False,NaN,National College of Art and Design,True,True
9,Visual Culture,AD215,320.0,False,389.0,National College of Art and Design,False,False
10,Illustration (portfolio),AD217,NaN,False,NaN,National College of Art and Design,True,True
11,Interaction Design (portfolio),AD222,NaN,False,NaN,National College of Art and Design,True,True
12,Software Design,AL600,104.0,False,279.0,Athlone Institute of Technology,False,False
13,Computer Engineering,AL601,112.0,False,192.0,Athlone Institute of Technology,False,False
14,Mechanical Engineering,AL602,260.0,False,424.0,Athlone Institute of Technology,False,False
15,Civil Engineering,AL604,NaN,False,244.0,Athlone Institute of Technology,False,False
16,Music and Instrument Technology,AL605,154.0,False,306.0,Athlone Institute of Technology,False,False
17,Pharmacy Technician,AL630,295.0,False,379.0,Athlone Institute of Technology,False,False
18,Dental Nursing,AL631,298.0,False,388.0,Athlone Institute of Technology,False,False
19,Applied Science,AL632,234.0,False,434.0,Athlone Institute of Technology,False,False

### 2019 Points Data

The 2019 points data is held in two PDF files, one for level 8 courses and one for levels 6 and 7.

#### Level 8

In [12]:
# read the entire pdf, extracting tables into a single dataframe
df8 = read_pdf(os.path.join(data_dir, "cao_2019_lvl8.pdf"), pages="all", multiple_tables=False)[0]
df8.head(10)

  Course Code                             INSTITUTION and COURSE  EOS  Mid
0         NaN                    Athlone Institute of Technology  NaN  NaN
1       AL801    Software Design with Virtual Reality and Gaming  304  328
2       AL802               Software Design with Cloud Computing  301  306
3       AL803  Software Design with Mobile Apps and Connected...  309  337
4       AL805        Network Management and Cloud Infrastructure  329  442
5       AL810                                 Quantity Surveying  307  349
6       AL820                 Mechanical and Polymer Engineering  300  358
7       AL830                                    General Nursing  410  429
8       AL832                                Psychiatric Nursing  387  403
9       AL836                       Nutrition and Health Science  352  383

In [13]:
# Create a new column in the dataframe for institution name 
# identify institution name rows as those containing null course codes
# and add those institution names to the new institution column
df8['Institution'] = df8[df8['Course Code'].isnull()]['INSTITUTION and COURSE']
df8.rename(columns={'INSTITUTION and COURSE':'Course Name'}, inplace=True)
df8.head()

,Course Code,Course Name,EOS,Mid,Institution
0,NaN,Athlone Institute of Technology,NaN,NaN,Athlone Institute of Technology
1,AL801,Software Design with Virtual Reality and Gaming,304,328,NaN
2,AL802,Software Design with Cloud Computing,301,306,NaN
3,AL803,Software Design with Mobile Apps and Connected...,309,337,NaN
4,AL805,Network Management and Cloud Infrastructure,329,442,NaN

In [ ]:
# Fill empty fields in the institution column with the most recent non-na field
df8['Institution'] = df8['Institution'].fillna(method='ffill')
df8.head()

In [ ]:
# Finally, remove rows containing only institution names
df8 = df8[df8['Course Code'].notna()]

# Set some display options
# pd.set_option("display.max_rows", None)
# pd.set_option("display.max_colwidth", None)

df8

In [16]:
# Extract dictionary mapping two-letter college codes to institution names
# This will be useful for the 2021 data
college_code = dict(zip(df8['Course Code'].str[:2].unique(), df8['Institution'].unique()))

In [ ]:
# Examine EOS values which contain non-numeric characters
df8[df8['EOS'].str.contains('[^0-9#*]') == True]

In [ ]:
# Examine Mid values which contain non-numeric characters
df8[df8['Mid'].str.contains('[^0-9]') == True]

In [ ]:
# Create new column indicating whether the course requires a test, interview or portfolio
# This is indicated by a '#' in the EOS column
df8['Test'] = df8['EOS'].str.contains('#', na=False)

# Create a column indicating courses where not all applicants at EOS point score were offered a place
# This is indicated by a '*' in the EOS column
df8['Not All'] = df8['EOS'].str.contains('\*', na=False)

# Create a column indicating courses where a matric is required
# This is indicated by the string '+matric' in the EOS column.
# However, the tabula table parsing has interpreted the r in matric as a cell boundary so only 'mat' 
# remains in the EOS column and 'ic' appears in the Mid column. The 'ic' will be dealt with next 
df8['Matric'] = df8['EOS'].str.contains('mat', na=False)

In [ ]:
# Remove Non-digits from EOS and Mid columns and convert columns to numeric values, with NaNs where values are missing (errors = 'coerce')
# (Because NaN is a float, the whole columns must be floats)
df8['EOS'] = pd.to_numeric(df8['EOS'].str.replace('[^0-9]+', '', regex=True), errors='coerce')
df8['Mid'] = pd.to_numeric(df8['Mid'].str.replace('[^0-9]+', '', regex=True), errors='coerce')

In [ ]:
# Repair LM124 Course Name
df8.loc[df8['Course Code']=='LM124', 'Course Name'] += 'ce)'

#### Level 6 and 7

In [ ]:
# read the entire pdf, extracting tables into a single dataframe
df67 = read_pdf(os.path.join(data_dir, "lvl76_19.pdf"), pages="all", multiple_tables=False)[0]
df67.head(10)

In [ ]:
# Some text has been included in the dataframe. The actual table starts at row 7 with the row names
# Rename rows using row 7
df67.columns = df67.iloc[7]
df67.rename_axis(None, axis=1, inplace=True)

In [ ]:
# Delete rows up to row 7
df67.drop(df67.index[range(0, 8)], axis=0, inplace=True)
df67.head(10)

In [ ]:
df67[df67['Mid'].str.contains('[^0-9]') == True]
df67[df67['EOS'].str.contains('[^0-9]') == True]

In [ ]:
# Now this datframe can be cleaned up in the same manner as level 8
def cleanup(df):
    
    df = df.copy(deep=True)
    
    # Create a new column in the dataframe for institution name 
    # identify institution name rows as those containing null course codes
    # and add those institution names to the new institution column
    df['Institution'] = df[df['Course Code'].isnull()]['INSTITUTION and COURSE']
    df.rename(columns={'INSTITUTION and COURSE':'Course Name'}, inplace=True)

    # Fill empty fields in the institution column with the most recent non-na field
    df['Institution'] = df['Institution'].fillna(method='ffill')

    # Finally, remove rows containing only institution names
    df = df[df['Course Code'].notna()]

    # Create new column indicating whether the course requires a test, interview or portfolio
    # This is indicated by a '#' in the EOS column
    df['Test'] = df['EOS'].str.contains('#', na=False)

    # Create a column indicating courses where not all applicants at EOS point score were offered a place
    # This is indicated by a '*' in the EOS column
    df['Not All'] = df['EOS'].str.contains('\*', na=False)

    # Create a column indicating courses where a matric is required
    # This is indicated by the string '+matric' in the EOS column.
    # However, the tabula table parsing has interpreted the r in matric as a cell boundary so only 'mat' 
    # remains in the EOS column and 'ic' appears in the Mid column. The 'ic' will be dealt with next 
    df['Matric'] = df['EOS'].str.contains('mat', na=False)

    # Level 6 & 7 has a new code in EOS -- 'AQA' meaning All Qualified Applicants were offered a place
    # Create a new column for AQA
    df['AQA'] = df['EOS'].str.contains('AQA', na=False)

    # Remove Non-digits from EOS and Mid columns and convert columns to numeric values, with NaNs where values are missing (errors = 'coerce')
    # (Because NaN is a float, the whole columns must be floats)
    df['EOS'] = pd.to_numeric(df['EOS'].str.replace('[^0-9]+', '', regex=True), errors='coerce')
    df['Mid'] = pd.to_numeric(df['Mid'].str.replace('[^0-9]+', '', regex=True), errors='coerce')

    return df

df67 = cleanup(df67)

In [ ]:
df67.head(10)

In [ ]:
# Repair WD177 Course Name
df67.loc[df67['Course Code']=='WD177', 'Course Name'] += 'macy.)'

#### Merge dataframes

In [ ]:
# add AQA column to level 8 dataframe
df8['AQA'] = False

# add level 8 column to both dataframes
df8['Level 8'] = True
df67['Level 8'] = False

In [ ]:
# conatenate level with levels 6 & 7
df = pd.concat([df8, df67], ignore_index=True)

# Rename column names to include year   
df = df.rename({'Course Name': 'Course Name 2019', 
                'EOS': 'EOS 2019', 
                'Mid':'Mid 2019', 
                'Test':'Test 2019', 
                'Not All': 'NotAll 2019',
                'Matric': 'Matric 2019',
                'AQA': 'AQA 2019',
                'Level 8': 'Level8 2019'}, axis=1)

In [ ]:
df.head()

In [ ]:
# export dataframe to csv
df.to_csv('data/cao/cao_points_2019.csv')

## Analysing the data

In [ ]:
df[['EOS', 'Mid']].hist(bins=50, figsize=(20, 5))

## Conclusion

## References

[1] https://www.independent.ie/life/family/learning/understanding-your-cao-course-guide-26505318.html