# CAO Points

## Introduction

## Acquiring the data

In [97]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
from tabula import read_pdf
import requests
from requests.compat import urljoin

In [101]:
base_url = 'http://www2.cao.ie/points/'

# 2019 data is provided in PDF format
cao_2019_urls  = ('lvl8_19.pdf', 'lvl76_19.pdf')

for url in (cao_2019_urls):
    print(urljoin(base_url, url))
    response = requests.get(urljoin(base_url, url))
    with open(url, 'wb') as f:
        f.write(response.content)

http://www2.cao.ie/points/lvl8_19.pdf
http://www2.cao.ie/points/lvl76_19.pdf

In [102]:
# read the entire pdf, extracting tables into a single dataframe
df = read_pdf("lvl8_19.pdf", pages="all", multiple_tables=False)[0]

type(df)

pandas.core.frame.DataFrame

## Analysing the data

In [104]:
df

    Course Code                             INSTITUTION and COURSE  EOS  Mid
0           NaN                    Athlone Institute of Technology  NaN  NaN
1         AL801    Software Design with Virtual Reality and Gaming  304  328
2         AL802               Software Design with Cloud Computing  301  306
3         AL803  Software Design with Mobile Apps and Connected...  309  337
4         AL805        Network Management and Cloud Infrastructure  329  442
..          ...                                                ...  ...  ...
960       WD200                                     Arts (options)  221  296
961       WD210                       Software Systems Development  271  329
962       WD211                                 Creative Computing  275  322
963       WD212                    Recreation and Sport Management  274  311
964       WD230           Mechanical and Manufacturing Engineering  273  348

[965 rows x 4 columns]

In [90]:
df['Course Code']

0        NaN
1      AL801
2      AL802
3      AL803
4      AL805
       ...
960    WD200
961    WD210
962    WD211
963    WD212
964    WD230
Name: Course Code, Length: 965, dtype: object

## Conclusion

## References